.section_padding1
{
    padding: 15px 0;
}

/*------------------------------------
# .0 Footer
------------------------------------*/
.footer_content.section_padding {
    padding-bottom: 0;
}
.footer_area {
    background-color: #38373c;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.footer_content {
    position: relative;
    width: 100%;
    display: inline-block;
}
.footer_content h2 {
    font-size: 20px;
    margin-bottom: 35px;
    font-weight: 700;
}
.footer_textwidget p {
    color: #b5b4b9;
    padding-right: 60px;
    margin-bottom: 37px;
    font-weight: 400;
}
.footer_textwidget h4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.footer_textwidget .number {
    font-size: 24px;
    margin-top: 5px;
    font-weight: 400;
}
.footer_link li a {
    color: #b5b4b9;
    font-size: 16px;
    line-height: 40px;
    display: block;
    font-weight: 600;
}
.footer_link li a:hover {
    color: #09aeb8;
}
.footer_link.extra_mt {
    margin-top: 57px;
}
.footer_contact {
    position:relative;
    width: 100%;
    border-bottom: 1px solid #535356;
}
.footer_contact .footer_contact_width {
    border-right: 1px solid #535356;
    padding: 46px 0;
}
.footer_contact .col-md-4:last-child .footer_contact_width {
    border: none;
}
.footer_contact .col-md-4 {
    padding: 0;
}
.footer_contact_width p {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}
.footer_contact .footer_contact_width p > i {
    display: inline-block;
    color: #fadb81;
    font-size: 20px;
}
.footer_contact_width p span,
.footer_contact_width p span a {
    color: #a9a7ad;
    font-weight: 400;
}
.footer_contact_width p span a:hover {
    color: #09aeb8;
}
.footer_area h2 {
    color: #ffffff;
}
.footer_textwidget.textwidget span.number {
    display: block;
    color: #2C347C;
}



/* copyright */
.copyright_social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.copyright_social ul li {
    display: inline-block;
}
.copyright_social ul li a i,
.header_social .hd_social_icons li a i {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 50%;
    line-height: 45px;
}
.copyright_social ul li a,
.header_social .hd_social_icons li a {
    color: #38373c;
    display: inline-block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: relative;
}
.copyright_social ul li a {
    background-color: #ffffff;
    margin: 0 1px;
}
.header_social .hd_social_icons li a:before,
.copyright_social ul li a:before {
    content: '';
    width: 100%;
    height: 100%;
    /* background: #2C347C; */
    position: absolute;
    border-radius: 50%;
    left: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.copyright_social ul li a:hover:before,
.header_social .hd_social_icons li a:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    
        background-color: blue; /* Change the background color on hover */
        color: white; /* Change the icon color on hover */
      
}
.newslatter input {
    margin-bottom: 10px;
}
.newslatter input::-webkit-input-placeholder {
    color: #87868a;
}
.newslatter input:-ms-input-placeholder {
    color: #87868a;
}
.newslatter input::-ms-input-placeholder {
    color: #87868a;
}
.newslatter input::placeholder {
    color: #87868a;
}
.copyright_area {
    border-top: 1px solid #535356;
    margin-top: 27px;
    padding-top: 8px;
    padding-bottom: 0px;
}
.copyright_text p {
    color: #b5b4b9;
    margin-top: 10px;
    font-weight: 400;
}
