.carousel-slide {
    padding: 4px; /* Adjust the padding value to set the space between images */
  }
  
  .slick-arrow {
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 10px;
  }